/*
    Desarrollado por:
    Grizzly Systems 
*/
/* --- Importacion de fuentes --- */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');
/* --- Declaración de variables para tipografia y colores --- */
:root{
    --FontLogo: 'Pacifico';
    --Fonttxt:'Quicksand';
    --FontColorWhite: #ffffff;
    --ColorPrincipal: #154360;
    --ColorBackground: #EAF2F8;
}
/* --- Estilos globales --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Fonttxt);
}
Body{
    background: var(--ColorBackground);
}
a{
    color: var(--FontColorWhite);
    text-decoration: none;
}
/* --- Menú --- */
.elipse_menu2,
.menu{
    position: absolute;
    background: var(--ColorPrincipal);
    position: fixed;
    z-index: 2;
}
.elipse_menu2{          
    width: 600px;
    height: 75px;
    border-radius: 100% 0% 51% 49% / 0% 52% 48% 100% ;
    top: 0 px;
    right: 0px;
}
.menu{
    top: 5px;
    right: 70px;
    border-radius: 50px;
    z-index: 3;
}
    .menu ul li{
        list-style: none;
        display: inline-block;
        padding: 15px;       
    }
    .menu ul li a:hover{
        color: #000;
    }
/* ---Contenedor del inicio donde se encuentra el logo de la empresa --- */
.container_inicio{
    display: flex;
}
.container_logo{
    width: 30%;
    height: 100vh;
}
    .elipse_0,
    .elipse_1,
    .elipse_2,
    .elipse_3,
    .img_logo,
    .text_logo{
        background: var(--ColorPrincipal);
        position: absolute;
        z-index: 0;
    }
    .elipse_0{
        top: 0;
        left: 0;
        width: 100px;
        height: 60vh;
    }
    .elipse_1{
        top: 0;
        left: 0;
        width: 350px;
        height: 300px;
        border-radius: 73% 27% 40% 60% / 0% 49% 51% 100% ;
    }
    .elipse_2{
        top: 200px;
        left: 0;
        width: 400px;
        height: 300px;
        border-radius: 68% 32% 49% 51% / 36% 47% 53% 64% ;
    }
    .elipse_3{
        top: 350px;
        left: 0px;
        width: 300px;
        height: 300px;
        border-radius: 64% 36% 100% 0% / 0% 49% 51% 100% ;
    }
    
    .img_logo{
        z-index: 1;
        top: 20vh;
        left: 25px;
        border-radius: 50px;
        width: 300px;
        height: 300px;
    }
    .text_logo{
        font-size: 45px;
        color: var(--FontColorWhite);
        top: 55vh;
        left: 20px;
        font-family: var(--FontLogo);
        z-index: 2;
    }
/* ---Contenedor que cuenta con la informacion del inicio del sitio ---*/
.container_informationInicio{
    display: flex;
    width: 70%;
    height: 100vh;
}
    .txt_start{
        display: flex;
        width: 80%;
        height: 200px;
        flex-direction: column;
        margin-top: 20vh;
        margin-left: 15vh;
        text-align: center;
    }
    .txt_start h1{
        font-size: 80px;
    }
    .txt_start p{
        font-size: 20px;
    }
    .social_media{
        margin-top: 10px;
        margin-right: 40px;
        display: flex;
        justify-content: flex-end;        
    }
        .icon_fb,
        .icon_wp,
        .icon_ig,
        .icon_mail{
            font-size: 40px;
            margin: 5px;
            padding: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: var(--ColorPrincipal);
            line-height: 50px;
            transition: .3s;
            transform: translate(0,0px);
            box-shadow: 0px 7px 5px rgba(0,0,0,.5);
        }
        /* --- Animación de botones ---  */
        .icon_fb:hover, 
        .icon_wp:hover, 
        .icon_ig:hover, 
        .icon_mail:hover{        
            color: #000;
            transform: rotate(0deg) skew(0deg) translate(0,-10px);
        }
        .icon_fb:hover{
            color: #0B84EE;
        }
        .icon_wp:hover{
            color: #0DC143;
        }
        .icon_ig:hover{
            color: violet;
        }
        .icon_mail:hover{
            color: red;
        }
/* --- Boton de contáctanos --- */
.btn_contact{
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 50px;
    width: 80%;
    padding: 20px;
    background: var(--ColorPrincipal);
    line-height: 50px;
    transition: .3s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0,0,0,.5);
    font-size: 20px;
}
    .btn_contact:hover{
        transform: rotate(0deg) skew(0deg) translate(0,-10px);
    }
/* --- Apartado de servicios --- */
.container_services{
    width: 100%;
    background: var(--ColorBackground);
    height: 100%;
    border: 1px solid;
}
/* --- Apartado de Portafolio --- */
.container_portfolio{
    width: 100%;
    background: var(--ColorBackground);
    height: 100%;
    border: 1px solid;
}
/* --- Apartado de Contáctanos --- */
.container_contact{
    width: 100%;
    background: var(--ColorBackground);
    height: 100%;
    border: 1px solid;
}
