/*
    Desarrollado por:
    Grizzly Systems 
*/

/* --- Importacion de fuentes --- */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');
/* --- Declaración de variables para tipografia, colores, sombras y animaciones --- */
:root{
    --FontLogo: 'Pacifico';
    --Fonttxt:'Quicksand';
    --FontColorWhite: #ffffff;
    --ColorPrincipal: #154360;
    --ColorBackground: #EAF2F8;
    --Sombras: 0px 7px 5px rgba(0,0,0,.5); 
    --animacion-botones: rotate(0deg) skew(0deg) translate(0,-10px);
}
/* --- Estilos globales --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Fonttxt);
}
Body{
    background: var(--ColorBackground);
}
a{
    color: var(--FontColorWhite);
    text-decoration: none;
}
.logo{
    font-family: var(--FontLogo);
    color: var(--FontColorWhite);
}
/* --- Menú --- */
.menu{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 500px;
    height: 8%;
    background: var(--ColorPrincipal);
    border-radius: 20px;
    box-shadow: var(--Sombras); 
    padding: 0;
    transition: all .2s;
}
.logo_small{
    position: absolute;
    position: fixed;
    z-index: 4;
    left: -200px;
}

    .menu ul li{
        padding: 20px 20px 10px 30px;
        display: inline-block;
        list-style: none;
    }
    
body.menu_fixed .menu{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 8%;
    border-radius: 0px;
    transition: all .2s;
    z-index: 3;
    background: var(--ColorPrincipal);
    opacity: 1;
}
body.menu_fixed .logo_small{
    top: 0px;
    left: 60px;
    margin: 15px 0 0 0;
}
    .menu ul li a:hover{
        border-bottom: 2px solid;
        
    }
/* ---- Menú responsive ---- */
.menu_responsive{
    width: 100%;
    display: hide;
}
.btn_menu {
    display: none;
    top: 12px;
    right: 30px;    
}
#hamburguer_menu{
    width: 24px;
    height: 18px;
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 20px;
}
#hamburguer_menu span{
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;    
    opacity: 1;
    background: whitesmoke;
    border-radius: 2px;
    pointer-events:  none;    
    transform: rotate(0deg);
    transition: .2s ease;
}
#hamburguer_menu span:nth-child(1){
    top: 0px;
}
#hamburguer_menu span:nth-child(2), 
#hamburguer_menu span:nth-child(3){
    top: 50%;
}
#hamburguer_menu span:nth-child(4){
    top: 100%;
}
#hamburguer_menu.open span:nth-child(1),
#hamburguer_menu.open span:nth-child(4) {
    top: 50%;
    width: 0%;
    left: 50%;    
}
#hamburguer_menu.open span:nth-child(2){
    transform: rotate(45deg);
}
#hamburguer_menu.open span:nth-child(3){
    transform: rotate(-45deg);
}
/* ---Contenedor del inicio donde se encuentra el logo de la empresa --- */
.container_inicio{
    display: flex;
}
.container_logo{
    width: 30%;
    height: 100vh;
}
    .elipse_0,
    .elipse_1,
    .elipse_2,
    .elipse_3,
    .img_logo,
    .text_logo{
        background: var(--ColorPrincipal);
        position: absolute;
        z-index: 0;
    }
    .elipse_0{
        top: 0;
        left: 0;
        width: 100px;
        height: 60%;
    }
    .elipse_1{
        top: 0;
        left: 0;
        width: 25%;
        height: 40%;
        border-radius: 73% 27% 40% 60% / 0% 49% 51% 100% ;
    }
    .elipse_2{
        top: 20%;
        left: 0;
        width: 30%;
        height: 50%;
        border-radius: 68% 32% 49% 51% / 36% 47% 53% 64% ;
    }
    .elipse_3{
        top: 50%;
        left: 0px;
        width: 20%;
        height: 40%;
        border-radius: 64% 36% 100% 0% / 0% 49% 51% 100% ;
    }
    .img_logo{
        z-index: 1;
        top: 20%;
        left: 4%;
        border-radius: 50px;
        width: 20%;
        height: 30%;
    }
    .text_logo{
        font-size: 2.5vw;
        top: 50%;
        border-radius: 30%;
        left: 4%;
        z-index: 2;
    }
/* ---Contenedor que cuenta con la informacion del inicio del sitio ---*/
.container_informationInicio{
    display: flex;
    width: 70%;
    height: 100vh;
}
    .txt_start{
        display: flex;
        width: 80%;
        height: 200px;
        flex-direction: column;
        margin-top: 20vh;
        margin-left: 15vh;
        text-align: center;
    }
    .txt_start h1{
        font-size: 80px;
    }
    .txt_start p{
        font-size: 20px;
    }
    .social_media{
        margin-top: 10px;
        margin-right: 40px;
        display: flex;
        justify-content: flex-end;        
    }
        .icon_fb,
        .icon_wp,
        .icon_ig,
        .icon_mail{
            font-size: 40px;
            margin: 5px;
            padding: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: var(--ColorPrincipal);
            line-height: 50px;
            transition: .3s;
            transform: translate(0,0px);
            box-shadow: var(--Sombras);
        }
        /* --- Animación de botones ---  */
        .icon_fb:hover, 
        .icon_wp:hover, 
        .icon_ig:hover, 
        .icon_mail:hover{        
            color: #000;
            transform: var(--animacion-botones);
        }
        .icon_fb:hover{
            color: #0B84EE;
        }
        .icon_wp:hover{
            color: #0DC143;
        }
        .icon_ig:hover{
            color: violet;
        }
        .icon_mail:hover{
            color: red;
        }
/* --- Boton de contáctanos --- */
.btn_contact{
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 50px;
    width: 80%;
    padding: 20px;
    background: var(--ColorPrincipal);
    line-height: 50px;
    transition: .3s;
    transform: translate(0,0px);
    box-shadow: var(--Sombras);
    font-size: 20px;
}
    .btn_contact:hover{
        transform: var(--animacion-botones);
    }
/* --- Apartado de servicios --- */
.container_services{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.txt_services{
    margin-top: 6%;
    text-align: center;
}
.first_line_cc, .second_line_cc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
}
.card{
    width: 25%;
    height: 90%;
    background: var(--ColorPrincipal);
    box-shadow: var(--Sombras);
    border-radius: 20px;
    transition: all .4s ease-in-out;
    overflow: hidden;
}
.img_card{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 80%;
}
.txt_card, .info{
    color: white;
}
.txt_card{
    text-align: center;
}
.info{
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: 100%;
    height: inherit;
    width: 100%;
    background: var(--ColorPrincipal);
    padding: 10px;
}
.card:hover{
    cursor: pointer;
    transform: var(--animacion-botones);
}
.card:hover .info{
    transition: ease .5s ;
    opacity: .95 ;
    bottom: -50%;
}
/* --- Apartado de Portafolio --- */
.container_portfolio{
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    padding: 3vh;
}
    .card_port h1{
        margin: 15px 0 10px 0;
        padding: 10px;
    }
    .view_more{
        position: absolute;
        z-index: 1;
        opacity: 0;
        bottom: 100%;
        height: inherit;
        width: 100%;
        height: 100%;
        background: #111111;
        padding: 0;
        
    }
    .card_port{
        margin-top: 20px;
        display: flex;
        width: 40%;
        height: 90%;
        background: var(--ColorPrincipal);
        flex-direction: column;
        box-shadow: var(--Sombras);
        border-radius: 20px;
        color: #fff;
        transition: all 1s;
        text-align: center;
        overflow: hidden;
    }
    .card_port:hover{
        cursor: pointer;
        transform: var(--animacion-botones);
        transition: .5s all;
    }
    .card_port:hover .view_more{
        transition: ease .5s ;
        opacity: .70 ;
        bottom: 0%;
        padding: 30vh 0 0 0;
    }
    .img_port{
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 80%;
    }


/* Estilos para el apartado de includes */
.container_intern_portfolio1{
    display: flex;
    width: 100%;
    height: 90vh;
}
    .left_1{
        display: flex;
        width: 40%;
        height: auto;
    }
    .img_include{
        position: absolute;
        top: 16vh;
        left: 3vh;
        width: 50vh;
        height: 50vh;
        z-index: 1;
    }
    .right_1{
        margin: 10vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 90%;
    }
    .title_include{
        font-size: 8vh;
        text-align: center;
        background: var(--ColorPrincipal);
        color: var(--FontColorWhite);
        border-radius: 30px;
        box-shadow: var(--Sombras);
    }
    .second_container_intern, .third_container_intern{
        margin: 50px 0 0 0;
        width: 100%;
        height: 90vh;
        display: flex;
    }
    /* ----Contenedor del slider que se muestra en la información detallada del portafolio ---- */
    .slider{
        width: 60%;
        height: 70vh;
        margin: 2% 0 0 2%;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: var(--Sombras);
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 400%;
        height: 100%;
        animation: change 20s infinite alternate;
        }
        @keyframes change{
            0%{margin-left: 0;}
            20%{margin-left: 0;}
            25%{margin-left: -100%;}
            45%{margin-left: -100%;}
            50%{margin-left: -200%;}
            70%{margin-left: -200%;}
            75%{margin-left: -300%;}
            100%{margin-left: -300%;}
        }
    .slider li{
        width: 100%;
        list-style: none;
    }
    .slider img{
        width: 100%;
        height: 100%;
    }
.info_functions h1{
    background: var(--ColorPrincipal);
    border-radius: 20px;
    height: 15%;
    color: var(--FontColorWhite);
    box-shadow: var(--Sombras);
    width: 100%;
    display: flex;
    align-items: center;
}
.info_functions{
    margin: 5% 0 0 5% ;
}
    .info_functions ul li{
        padding: 10px;
        list-style: none;
    }
 /* ---- Contenedor donde se encuentra la ubicación del negocio ---- */
.third_container_intern{
    flex-direction: row-reverse;
}
.mapa{
    width: 70%;
    height: 90%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--Sombras);
}
.txt_map h1{
    background: var(--ColorPrincipal);
    color: var(--FontColorWhite);
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 10%;
    box-shadow: var(--Sombras);
}
    .txt_map p{
        padding: 5%;
    }
.txt_map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
}

/* ---- Apartado de Contáctanos ---- */
.container_contact{
    display: flex;
    height: 80vh;
    width: 100%;
}
/* 
----RESPONSIVE----
 */